@model Universidad
@{
}
<h1>Create_Universidad</h1>

<form asp-controller="Universidad" asp-action="Agregar_universidad" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label>Nombre</label>
            <input asp-for="Nombre_Universidad" type="text" class="form-control" required>
        </div>
    </div>
    <p>
        <input class="btn btn-primary" type="submit" value="Agregar">
    </p>

</form>