@{
    ViewData["Title"] = "Home Page";
}

<center><h1>CRUD_MegaDB</h1></center>
<p>

</p>
<center><a class="btn btn-success" asp-controller="Alumno" asp-action="Ver_alumno">Empezar el crud</a></center>