@model Maestria
@{
}
<h1>Create_Maestria</h1>

<form asp-controller="Maestria" asp-action="Agregar_maestria" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label>Nombre</label>
            <input asp-for="Nombre_Maestria" type="text" class="form-control" required>
        </div>
        <div class="input-group-prepend">
            <label>Duracion de meses</label>
            <input asp-for="Duracion_Mes_Maestria" type="number" class="form-control" required>
        </div>
        <div class="input-group-prepend">
            <label>Alumno</label>
            <!--<label asp-for="Boleta_Alumno" class="control-label"></label>-->
            <select asp-for="Boleta_Alumno" class="form-control">
                @foreach (var item in CRUD.Alumnos)
                {
                    <option value="@item.Boleta_Alumno">@item.Boleta_Alumno - @item.Nombre_Alumno</option>
                }
            </select>
            <span asp-validation-for="Boleta_Alumno" class="text-danger"></span>
        </div>
    </div>
    <p>
        <input class="btn btn-primary" type="submit" value="Agregar">
    </p>

</form>