@model Docente
@{
}
<h1>Create_Docente</h1>

<form asp-controller="Docente" asp-action="Agregar_docente" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label>Nombre</label>
            <input asp-for="Nombre_Docente" type="text" class="form-control" required>
        </div>
        <div class="input-group-prepend">
            <label>Telefono</label>
            <input asp-for="Tele_Docente" type="number" class="form-control" required>
        </div>
    </div>
    <p>
        <input class="btn btn-primary" type="submit" value="Agregar">
    </p>

</form>